*{
    background: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Header Section*/

.header_main{
    font-size: 50px;
    font-weight: normal;
    color: white;
}
/*Links*/


.para_main{
    font-size: 16px;
    color: aquamarine;
}

/* Subheading and Subpara*/

.subheading{
    font-size: 42px;
    font-weight: 300;
    color: white;
}
.subpara{
    font-size: 21px;
    color: gray;
}
/* Footer Section*/
.footer{
    text-align: right;
    color: gray;
    font-size: 21px;
}

