*{
    background: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Header Section*/

.header_main{
    font-size: 50px;
    font-weight: normal;
    color: white;
}
/*Links*/


.para_main{
    font-size: 16px;
    color: aquamarine;
}




